.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
html, body, #map {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden
  }
  #header {
    position: absolute;
              bottom: 1em;
              left: 1em;
              width: 570;
              z-index: 20000;
              background-color: rgba(0, 0, 0, 0.5);
              margin: 0;
              color: white;
              padding: 0 0.5em 0.5em 0.5em;
  }

  .custom-zoom{
    top: .5em;
    left: .5em;
  }
  .custom-zoom button{
    background-color: rgba(40, 40, 40, .7);
    border-radius: 50%;
  }
  #search{
    margin-bottom: 15px;
    margin-left: 5px;
  }
  .box1 {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    padding: 1.25rem;
    display: none;
    height: auto;
    width: 400px;
    z-index: 20001;
    position: absolute;
    text-align: center;
    right: 1%;
    top: 1%;
  }
